@import 'css-variables.scss';


table.listResults > tbody > tr.selected > * {
  background-color: $combodo-orange;
}

table.listResults > tbody > tr > * {
  transition: background-color 400ms linear;
}

table.listResults > tbody > tr:hover > * {
  cursor: pointer;
}

table.listResults > tbody > tr.selected:hover > * {
  /* hover on lines is currently done toggling td.hover, and having a rule for links */
  background-color: #fdf5d0;
}
